[Desktop Entry]
Type=Application
Name=Malmo
Comment=Malmo
NoDisplay=false
Exec=/usr/bin/lxterminal -e sh /home/pi/Desktop/malmo/startserver.sh
NotShowIn=GNOME;KDE;XFCE;
